body{
    background-color: rgb(69, 180, 253);
}

.blue{
    background-color: rgb(81, 185, 250);
}

#about{
    background-color: #2352eb; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  display: flex;
  align-items: flex-end; 
  float: right;
}

#submit{
    background-color: #2352eb; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  border-radius: 6px;
  align-items: center; 
  float: center;
  width: 220px; 
}

.signup{
    background-color: rgb(235, 235, 235);
    width: 250px;
    margin: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #aaaaa1;
    border-radius: 8px;
    padding: 30px;
}

.logos{
position: relative;
left: 100px;  
}

.input{
    margin: 15px;
    display: block;
}

nav{
    background-color: rgb(247, 241, 241);
    border-bottom: 2px solid #aaaaa1;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    z-index: 1;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
  }

  h2{
      font-weight: 800;
  }